<div class="card draggable" data-task-id= "<%= task.id %>" data-status="<%= task.status %>">
	<div class="card-body">
		<h5 class="card-title" style="font-style: italic">Title:&nbsp;<%= task.title %></h5>
		<h6 class="card-subtitle mb-2 text-muted">Description: &nbsp;<%= task.description %></h6>
		<p class="card-text">Due Date: &nbsp;<%= task.date %></p>
	</div>
</div>